<h1 style="text-align:center;font-weight:normal;"><%= @greeting %></h1>

<div style="margin:auto;width:80%">
    <div style="display: inline-block; text-align: left;">
        <p style="margin-bottom:10px">Dear USER,</p>
        <p>
          I'm baby meggings 3 wolf moon wolf austin tote bag waistcoat butcher taxidermy, thundercats narwhal lyft twee. Tattooed ramps pitchfork, 90's blog mustache yes plz cliche keytar snackwave chambray. Yes plz la croix normcore umami big mood retro copper mug brunch schlitz meh you probably haven't heard of them jean shorts prism neutral milk hotel. Offal XOXO palo santo gochujang. Iceland try-hard sartorial health goth jean shorts truffaut tbh godard gatekeep tousled craft beer kitsch.
        </p>
        <p>Cheers,</p>
        <p>Chicago Artist Atlas</p>
    </div>
</div>
