<h1 style="text-align:center;font-weight:normal;"><%= @greeting %></h1>

<div style="margin:auto;width:80%">
    <div style="display: inline-block; text-align: left;">
        <p style="margin-bottom:10px">Hi <%= @user.first_name %>,</p>
        <p>
          Welcome to <strong>Chicago Artist Atlas</strong>!
        </p>
        <p>
          We're thrilled to have you join us as we embark on this journey together. As a beta tester, you're among the <strong>first</strong> to experience our platform, and we could't be more excited to have your input.
        </p>

        <p>
          Chicago Artist Atlas is the ultimate destination for theatremakers in the Windy City. We've worked tirelessly to create a seamless experience where you can find audition postings, resources, classes, and build connections within the vibrant theatre community, all in one place. 
          
          During this beta phase, we invite you to explore the site and share your feedback with us. Your insights will help shape the furture Chicago Artist Atlas!
        </p>

        <p>
          Please note that while the beta version is free to access, some features will eventually require a monthly, subscription-based "premium" account. By signing up now, you'll not only get early access to some pretty cool features, you'll also receive a discount code when we launch! 
          
          Thank you for being part of this exciting journey with us! Let's make Chicago Artist Atlas the go-to platform for theatremakers in Chicago.
        </p>

        <p>Cheers,</p>
        <p>Anna and Katherine</p>
    </div>
</div>
