<h1 style="text-align:center;font-weight:normal;"><%= @greeting %></h1>

<div style="margin:auto;width:80%">
    <div style="display: inline-block; text-align: left;">
        <p style="margin-bottom:10px">Hi <%= @user.first_name %>,</p>
        <p>
          Welcome to <strong>Chicago Artist Atlas</strong>!
        </p>
        <p>We're so glad to have you join us on the first leg of this journey as a <em>beta tester</em>! We've been hard at work to develop this site as a one-stop-shop for Chicago theatremakers to find jobs and audition postings, resources, classes, and community without the tedious digging around of the past. Chicago Artist Atlas, Atlas for short, aims to be streamlined and fun for users so more time can be spent on craft and creativity. We hope you will keep this in mind as you navigate and explore the site, and encourage you to keep track of your thoughts and reactions. You are one of the <strong>first</strong> to use this 'work-in-progress', and we greatly appreciate your feedback to help us make it even better for our full launch this fall! <br> Go ahead and take a look around! We hope you like what you see.</p>
        <p>Password: Password12345!</p>
        <p>To change your password, visit <a href="https://www.chiartistatlas-dev.com/" target="_blank">www.chiartistatlas-dev.com</a>, click the "Log in" button, and select "Forgot Password?" link. You'll be prompted to enter in your email and to follow the instructions.</p>
        <p>Cheers,</p>
        <p>Anna, Elise, and Katherine</p>
    </div>
</div>
