<h1 style="text-align:center;font-weight:normal;">YAY! Another fan!</h1>

<div style="margin:auto;width:80%">
    <div style="display: inline-block; text-align: left;">
        <p style="margin-bottom:10px">Please add this email to our the list of intersted Atlas users: <%= @email %></p>
    </div>
</div>
