<h1 style="text-align:center;font-weight:normal;">WEBSITE OUTREACH:</h1>

<div style="margin:auto;width:80%">
    <div style="display: inline-block; text-align: left;">
        <p style="margin-bottom:10px">
            <%= @message %></p>
        </p>
        <p>From: <%= @name%></p>
        <p>Email: <%= @email %></p>
        <p>Phone: <%= @phone %></p>
    </div>
</div>
