<%# <h1 style="text-align:center;font-weight:normal;">Reset Password</h1> %>

<div style="margin:auto;width:80%">
    <div style="display: inline-block; text-align: left;">
        <p style="margin-bottom:10px">Hey!</p>
        <p>
          Forgot your password? Yeah, we've been there too. We received a request to reset the password for your account. If you did <em>not</em> make this request, please <a href="mailto:info@chiartistatlas.com?subject=Password Reset Help">reach out to our team</a> immediately.
        </p>
        
        <p>
          To reset your password, click on the button below:
        </p>
        <% reset_password_link = "http://localhost:8080?reset_token=#{@token}" %>
        <%= link_to reset_password_link do %>
          <button class="new-password-button">
            Choose a new password
          </button>
        <% end %>
        
        <p>Or copy and paste this URL into your browser: <%= reset_password_link %></p>

        <p>Cheers,</p>
        <p>Chicago Artist Atlas</p>
    </div>
</div>